[user]
    name = Manuel-Alexander Oppermann
    email = manuel.alexander.oppermann@gmail.com

[core]
    editor = nvim

[apply]
    whitespace = fix
    ignoreWhitespace = change

[pull]
    rebase = true

[init]
    defaultBranch = main

[advice]
	skippedCherryPicks = false
